@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", "Blinker", "Segoe UI", Roboto, Helvetica Neue,"Ubuntu", sans-serif;
  font-size: .9rem;
  overflow-x: hidden;
  color: #303030;
}

html{
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  scroll-behavior: smooth;
}

.background-image-full {
 background-color: #ffffff;
  /*background-image: 
    linear-gradient(rgba(0,0,0,5), rgba(0,0,0,0.3)),
    url('business-bg3.jpg')*/;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; /* fica atrás de tudo */
}
.background-image-full::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5); /* preto com 50% de opacidade */
  z-index: 0;
}

:root {
  color-scheme: light dark;
 --COLOR0: #010300;

 --COLOR1: #22373d;
 --COLOR2: #314c53;

 --COLOR3: #486e65;
 --COLOR4: #5a7f78;

 --COLOR5: #bbdec6;
 --COLOR6: #D8E8DD;
 --COLOR7: #E1F0E6;

 /*--COLOR1: #031634;
    --COLOR2: #033649;
    --COLOR3: #036564;
    --COLOR4: #cdb380;
    --COLOR5: #e8ddcb;*/

 --inputcolor: #f6f6f6;
 --inputcolorborder: #f5f5f5;

 --COLOR10: rgba(255, 255, 255, 0.5); /*branco transparente*/
}

.carousel-item img {
  height: 300px;     /* altura fixa */
  object-fit: cover; /* corta/encaixa mantendo proporção */
  width: 100%;
}

.navbar-toggler{
  border: None;
}

.navbar-toggler:active, .navbar-toggler:hover{
  border: None;
}

.glass-card {
 background: rgba(255, 255, 255, 0.6);
 backdrop-filter: blur(8px);
 -webkit-backdrop-filter: blur(8px);
 border: 0.5px solid var(--COLOR3);
 border-radius: 10px;
}

.toggle-switch {
  display: flex;
  position: relative;
  width: 200px;
  height: 40px;
  background: #ddd;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}

.toggle-switch .switch-label {
  flex: 1;
  text-align: center;
  z-index: 2;
  font-weight: 500;
  color: #555;
  transition: color 0.5s;
}

.toggle-switch .switch-label.active {
  color: white;
}

.toggle-switch .switch-slider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 96px; /* metade do toggle */
  height: 36px;
  background: var(--COLOR4);
  border-radius: 20px;
  transition: left 0.5s;
  z-index: 1;
}
.card-feed {
 background: var(--COLOR10);
 backdrop-filter: blur(15px);
 -webkit-backdrop-filter: blur(15px);
 border: 2px solid var(--COLOR10);
 border-radius: 18px;
}

.premium-bg{
  background: linear-gradient(45deg, #f2c94e, #f78145, #f24e4e);
}

.card, .glass-card{
  position: relative;
  z-index: auto;
}

.disabled{
  
}

.dropdown-menu {
  z-index: 2000 !important;
}

 .selectable {
    cursor: pointer;
    transition: 0.2s;
  }
.selectable:hover {
    background-color: var(--COLOR6);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
.selectable.active {
    background-color: var(--COLOR7);
  }

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

p{
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  opacity: 0.9
}

b, strong {
    font-weight: bolder;
}

a {
 text-decoration: none;
 text-decoration-line: none;
 color: #000000;
}

.line-clamp-3 {
 display: -webkit-box;
 -webkit-line-clamp: 3;
 -webkit-box-orient: vertical;
 overflow: hidden;
 text-overflow: ellipsis;
}

.img-square {
 width: 100%;
 aspect-ratio: 1 / 1;
 object-fit: cover;
}

.navbar-brand:hover {
}
.nav-link:hover {
}

.title-2 {
 color: var(--COLOR1);
 text-align: center;
 font-weight: 800;
}

.nav-icon{
  font-size: 25px;
}

.material-symbols-outlined{
  font-size: 25px;
}

.icone {
 text-decoration: None;
 cursor: pointer;
 color: var(--COLOR2);
}
.icone:hover {
 color: var(--COLOR3);
}

.spacing-button{height: 40px; z-index: 50555;
}
.spacing-button-icon{
font-size: 25px; line-height: 1; z-index: 5056;
}

.premium-glow {
  
}

/*PRIMARY*/

.bg-primary {
 background-color: var(--COLOR2) !important;
}
.border-primary {
  border-color: var(--COLOR4) !important;
}
.text-primary{
  color: var(--COLOR2) !important;
}

.btn-primary {
 background-color: var(--COLOR3) !important;
 border-color: var(--COLOR3) !important;
}
.btn-primary:hover {
 background-color: var(--COLOR4) !important;
 border-color: var(--COLOR4) !important;
}

.bg-secondary {
 background-color: var(--COLOR4) !important;
}

.btn-link {
 text-decoration: None;
 color: var(--COLOR1);
}

.btn-link:hover {
 color: var(--COLOR3);
}

/* Input / select */
.form-control,
.form-select,
.dropdown-menu,
option {
 background-color: var(--inputcolor) !important;
 color: #0a1f44 !important;
 border: 1px solid var(--inputcolorborder) !important;
 z-index: 5000 !important;
}
.form-control:focus,
.form-select:focus,
.dropdown-menu:focus,
option:focus {
 box-shadow: 0 0 5px #c6c6c6 !important;
}

/* Tags */
.tag-container {
 display: flex;
 flex-wrap: wrap;
 gap: 5px;
 margin-top: 5px;
}

.tag {
 background-color: var(--COLOR3);
 color: var(--COLOR5);
 padding: 2px 6px;
 border-radius: 5px;
 font-size: 0.9em;
 cursor: pointer;
}
.tag:hover {
 background-color: var(--COLOR2);
}

.nav-item-business {
 color: var(--COLOR1) !important;
}
.nav-item-business.active {
 color: var(--COLOR3) !important;
}
