{% extends "base.html" %}
{% block content %}

<!-- Modal -->
<div class="modal fade" id="add_comment" tabindex="-1" aria-labelledby="addFeedLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addFeedLabel">Adicionar comentário</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{{ url_for('routes.comentar', business_id=business['id']) }}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
        <div class="modal-body">
          <!-- Texto do post -->
          <div class="mb-3">

            <label for="commentText" class="form-label">Conteúdo</label>
            <textarea class="form-control" id="commentText" name="content" rows="3" placeholder="O que você quer comentar?" required></textarea>
            <div class="invalid-feedback">
              Por favor, escreva algo antes de enviar.
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Comentar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container p-4 pt-0" data-aos="fade-up">
  <div class="border-0">
    <div class="d-flex align-items-center">
      <img src="{{ url_for('static', filename='uploads/' ~ business[7]) if business[7] else 'https://placehold.co/150' }}" 
           alt="{{ business[1] }}" 
           class="rounded-circle me-3"
           style="width: 50px; height: 50px; object-fit: cover;">

      <h2 class="card-title d-flex align-items-center flex-grow-1">
        {{ business[1] }} 
        <span class="me-2 badge bg-primary ms-auto" style="font-size: 0.4em; height: fit-content;">
          {{ business[3] }}
        </span><span class="badge {{ 'bg-secondary' if aberto else 'bg-danger' }}" style="font-size: 0.4em; vertical-align: middle;">
    {{ 'Aberto' if aberto else 'Fechado' }}
</span>
      </h2>
    </div>

 <!-- Carousel -->
  {% if business[13] %}
  <div id="carouselExampleControls" class="carousel slide mt-3 mb-3" data-bs-ride="carousel">
  <div class="carousel-inner">
   {% if images_urls %}
  {% for image in images_urls %}
    <div class="carousel-item {% if loop.first %}active{% endif %}">
      <img class="d-block w-100" src="{{ url_for('static', filename='uploads/carousel/' + image.image_path) }}" alt="Imagem do carrossel">
    </div>
  {% endfor %}
{% else %}
  <div class="carousel-item active">
    <img class="d-block w-100" src="https://placehold.co/1200x400?text=Vazio..." alt="Sem imagens">
  </div>
{% endif %}

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Próximo</span>
  </button>
</div>
{% else %}
<div class="mb-3"></div>
{% endif %}
</div>

  <!-- Nav -->
  <ul class="nav-item-business nav nav-tabs" id="businessTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active nav-item-business" id="sobre-tab" data-bs-toggle="tab" data-bs-target="#sobre" type="button" role="tab">
        Sobre
      </button>
    </li>
    <li class="nav-item nav-item-business" role="presentation">
      <button class="nav-link nav-item-business" id="feeds-tab" data-bs-toggle="tab" data-bs-target="#feeds" type="button" role="tab">
        Feeds
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link nav-item-business" id="comentarios-tab" data-bs-toggle="tab" data-bs-target="#comentarios" type="button" role="tab">
        Comentários
      </button>
    </li>
  </ul>

  <div class="tab-content mt-3 mb-5" id="businessTabsContent">

    <!-- Aba Sobre -->
    <div class="tab-pane fade show active" id="sobre" role="tabpanel" aria-labelledby="sobre-tab">
      <div class="card shadow-sm border-0 mb-4">
        <div class="card-body">
          <h5 class="card-title">Descrição</h5>
          <p class="card-text">{{ business[2] }}</p>
        </div>
      </div>
      
      {% if horario and horario[0][3] and horario[0][4] %}
        <div class="card shadow-sm border-0 mb-4">
          <div class="card-body">
            <h5 class="card-title">Horário de funcionamento <small>(hoje)</small></h5>
            <p class="card-text">{{ horario[0][3] }} até {{ horario[0][4] }}</p>
          </div>
        </div>
      {% endif %}

      {%if business[4] or business[4] or business[6] %}
      <div class="card shadow-sm border-0 mb-4">
        <div class="card-body">
          <h5 class="card-title">Contato</h5> 
          <ul class="list-unstyled">
            {% if business[4] %}
            <li><i class="bi bi-instagram me-2"
            ></i><a href="https://www.instagram.com/{{business[4][1:]}}" target="_blank">{{ business[4] }} <span class="text-muted">(clique)</span></a></li>
            {% endif %}
            {% if business[5] %}
            <li><i class="bi bi-telephone me-2"></i>{{ business[5] }}</li>
            {% endif %}
            {% if business[6] %}
            <li><i class="bi bi-envelope me-2"></i>{{ business[6] }}</li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% endif %}

      {% if business.lat and business.lon %}
      <div class="card shadow-sm border-0 mb-4">
        <div class="card-body">
          <h5 class="card-title">Localização</h5> 
          <div id="map" style="height: 300px;"></div>
        </div>
      </div>
      {% endif %}
      {% if business[15] %}
    <div class="card shadow-sm border-0 mb-4">
          <div class="card-body">
            <h5 class="card-title">Eventos  <small></small></h5>
            <p class="card-text">{{ business[15]}}</p>
          </div>
        </div>
      {% endif%}

    <div class="border-0"> <div class="text-center"> <h5 class="">Compartilhar</h5> <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{ request.url }}" alt="QR code" class="border p-1 rounded"> </div> </div>
    </div>

    <div class="tab-pane fade" id="feeds" role="tabpanel" aria-labelledby="feeds-tab">
    {% if feeds %}
      {% for f in feeds %}
      <div class="card glass-card mb-4 shadow-sm">
        <div class="card-body">
          <div class="d-flex align-items-center mb-2">
            <img src="{{ url_for('static', filename='uploads/' ~ f['logo_path']) if f['logo_path'] else 'https://placehold.co/150' }}" 
                   alt="{{ f['nome'] }}" 
                   class="rounded-circle me-3" 
                   style="width: 50px; height: 50px; object-fit: cover;">
            <div>
              <b>{{ f['nome'] }}</b><br>
              <small class="text-muted">{{ f['created_at']|humandate }}</small>
            </div>
          </div>

          <p class="mb-2">{{ f['description'] }}</p>

          {% if f['image_path'] %}
            <img src="{{ url_for('static', filename='uploads/' ~ f['image_path']) }}" class="img-fluid rounded mb-2" alt="Imagem do post">
          {% endif %}
        </div>
      </div>
      {% endfor %}
    {% else %}
      <p class="text-center">Nenhum feed publicado ainda</p>
    {% endif %}
  </div>

  <!-- Aba Comentários -->
  <div class="tab-pane fade" id="comentarios" role="tabpanel" aria-labelledby="comentarios-tab">
    {% if comentarios %}
      {% for c in comentarios %}
      <div class="card glass-card mb-4 shadow-sm">
        <div class="card-body">
          <div class="d-flex align-items-center mb-2"><a href="{{ url_for('routes.perfil', user_id=c['user_id']) }}">
            <img src="{{ c['pfp_path'] or url_for('static', filename='user.png') }}" 
                 alt="foto" class="rounded-circle me-3" 
                 style="width: 50px; height: 50px; object-fit: cover;">
            <div>
              <b>{{ c['username'] }}</b></a><br>
              <small class="text-muted">{{ c['created_at']|humandate }}</small>
            </div>
          </div>

          <p class="mb-0">{{ c['content'] }}</p>
        </div>
      </div>
      {% endfor %}
    {% else %}
      <p class="text-center">Nenhum comentário ainda. Seja o primeiro a comentar</p>
    {% endif %}


    <a class="btn btn-primary position-fixed bottom-0 end-0 m-4 rounded-circle d-flex justify-content-center align-items-center shadow-sm "
       style="width: 60px; height: 60px; z-index: 1050;"
       data-bs-toggle="modal" data-bs-target="#add_comment">
       <span class="material-symbols-outlined" style="font-size: 28px; line-height: 1;">
    add_comment
    </span>
    </a>
  </div>

</div>

{% if session_id == business.by_user %}
  <footer class="text-center bg-white shadow-sm fixed-bottom mt-5 p-2 m-4 mb-0 rounded" style="opacity: 0.7;" data-aos="zoom-up">
    <div class="d-flex justify-content-center gap-5 text-muted " style="font-size: 2rem;">
      <a href="{{url_for('routes.edit', business_id=business[0])}}">
        <i class="bi bi-pencil-square" style="cursor:pointer;" title="Editar"></i>
      </a>

      <a href="{{url_for('routes.upgrade', business_id=business[0])}}">
        <i class="bi bi-gem" style="cursor:pointer;" title="Upgrade"></i>
      </a>
    </div>
  </footer>
{% endif %}


<script>
function initMap() {
    var lat = {{ business.lat }};
    var lon = {{ business.lon }};

    var map = L.map('map').setView([lat, lon], 15);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);

    L.marker([lat, lon])
        .addTo(map)
        .bindPopup("{{ business.nome }}")
        .openPopup();
}

// Se a aba já está ativa no carregamento
{% if business.lat and business.lon %}
initMap();
{% endif %}
</script>


{% endblock %}