{% extends "base.html" %}
{% block content %}

<a class="btn btn-primary position-fixed bottom-0 end-0 m-4 rounded-circle d-flex justify-content-center align-items-center shadow spacing-button" href="{{ url_for('business.addbusiness') }}">
 <span class="material-symbols-outlined spacing-button-icon">
  add_business
 </span>
</a>

<h1 class="title-2 mb-3 text-center" data-aos="zoom-in">NEGÓCIOS</h1>

<div class="container p-5 pt-4 pb-5" data-aos="zoom-out">
 <div class="row">
  <h5>Buscar / Filtrar</h5>
  <form action="{{ url_for('business.businesses') }}" method="get" class="card-body">
   <div class="d-grid gap-3" style="grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));">
    <div>
     <input type="text" class="form-control" name="q" placeholder="Nome do negócio" id="exampleDataList" />
    </div>
   </div>
  </form>
 </div>
</div>

<div class="container mt-2 mb-4 p-3" id="businesses">
 <div class="row">
  {% for b in businesses %}
  <div class="col-md-4 p-2" data-aos="zoom-in">
   <div class="card h-100 glass-card shadow {% if b['premium'] %} premium-glow {% endif %}">
    {% if b['premium'] %}
    <div
     class="position-absolute top-0 end-0 m-2 badge rounded-pill text-white d-flex align-items-center gap-1 shadow-sm premium-bg"
     style="padding: 0.3rem 0.8rem; font-size: 0.75rem;"
     title="Premium"
     data-aos="zoom-in"
    >
     <i class="bi bi-star-fill"></i> Premium
    </div>
    {% endif %}

    <div class="card-body d-flex flex-column">
     <div class="d-flex align-items-center mb-2">
      <img src="{{ url_for('static', filename='uploads/' ~ b['logo_path']) if b['logo_path'] else 'https://placehold.co/150' }}" alt="{{ b['nome'] }}" class="rounded-circle me-3" style="width: 50px; height: 50px; object-fit: cover;" />
      <h5 class="card-title mb-0">
       {{ b['nome'] }} <br />
       <span class="badge bg-primary" style="font-size: 0.6rem; vertical-align: middle;">
        {{ b['categoria'] }}
       </span>
      </h5>
     </div>

     <p class="line-clamp-3 card-text text-muted small flex-grow-1">
      {{ b['descricao'] }}
     </p>

     <a href="{{ url_for('business.business', business_id=b['id']) }}" class="btn btn-sm btn-primary mt-auto">Ver mais</a>
    </div>
   </div>
  </div>
  {% endfor %}
 </div>
</div>

{% if not businesses %}
<div class="text-center">
 <p class="line-clamp-3 card-text text-muted small flex-grow-1">Nenhum negócio encontrado. Desculpe pela inconveniência</p>
</div>
{% endif %}

{% endblock %}
