{% extends "base.html" %} {% block content %}

<div class="container-fluid d-flex flex-column justify-content-center align-items-center text-center" style="min-height: calc(100vh - 300px);">
 <!-- Título -->
 <h1 class="display-3 title display-1 fw-bold text-monospace katalogo-text mb-3 text-monospace">Katálogo</h1>

 <p class="lead text-mutedpx-2 px-md-5" style="max-width: 80%; font-size: 1.5rem;">Encontre aqui os <span style="background-color: var(--COLOR4);">melhores</span> negócios, produtos e serviços na sua região</p>

 <p class="lead text-mutedpx-3" style="max-width: 80%; font-size: 1rem;">
  Descubra uma nova forma de gerenciar seus negócios e serviços. Explore, conecte-se e acompanhe tudo em um só lugar
 </p>
</div>
{% endblock %}
