{% extends "base.html" %} {% block content %} {% if session_id == user[0] %}
<a class="btn btn-primary position-fixed bottom-0 end-0 m-4 rounded-circle d-flex justify-content-center align-items-center shadow spacing-button z-1050" href="{{url_for('user.perfiledit', user_id=user[0])}}">
 <span class="material-symbols-outlined spacing-button-icon">
  manage_accounts
 </span>
</a>
{% endif %}

<div class="container" data-aos="fade-up">
 <div class="p-4">
  <div class="row align-items-center">
   <div class="d-flex align-items-center">
    <img src="{{ url_for('static', filename='uploads/' ~ user[5]) if user[5] else url_for('static', filename='user.png') }}" alt="{{ user[1] }}" class="rounded-circle me-3" style="width: 50px; height: 50px; object-fit: cover;" />

    <h2 class="card-title mb-0 d-flex align-items-center flex-grow-1">
     {{ user[1] }}
     <span class="badge {{ 'bg-primary' if user[2] == 'user' else 'bg-danger'}} ms-auto" style="font-size: 0.4em; height: fit-content;">
      {% if user[2] == 'user' %} Membro {% else %} Admin {% endif %}
     </span>
    </h2>
   </div>
  </div>
 </div>
</div>

<div class="container p-3 pt-0" data-aos="fade-up">
 <ul class="nav nav-tabs" id="profileTabs" role="tablist">
  <li class="nav-item" role="presentation">
   <button class="nav-link active nav-item-business" id="sobre-tab" data-bs-toggle="tab" data-bs-target="#sobre" type="button" role="tab" aria-controls="sobre" aria-selected="true">
    Sobre
   </button>
  </li>
  <li class="nav-item" role="presentation">
   <button class="nav-link nav-item-business" id="negocios-tab" data-bs-toggle="tab" data-bs-target="#negocios" type="button" role="tab" aria-controls="negocios" aria-selected="false">
    Négócios
   </button>
  </li>
  <li class="nav-item" role="presentation">
   <button class="nav-link nav-item-business" id="comentarios-tab" data-bs-toggle="tab" data-bs-target="#comentarios" type="button" role="tab" aria-controls="comentarios" aria-selected="false">
    Comentários
   </button>
  </li>
 </ul>

 <div class="tab-content mt-3" id="profileTabsContent">
  <div class="tab-pane fade show active" id="sobre" role="tabpanel" aria-labelledby="sobre-tab">
   <div class="card shadow-sm border-0 mb-4 p-3">
    <h5>Descrição</h5>
    <p> {{ user[6] }}
    </p>
   </div>
  </div>

  <div class="tab-pane fade" id="negocios" role="tabpanel" aria-labelledby="negocios-tab">
   <div class="row">
    {% if business %} {% for b in business %}
    <div class="col-md-6 mb-3">
     <div class="card shadow-sm p-2 d-flex" data-aos="fade-up">
      <div class="d-flex align-items-center flex-grow-1">
       <img src="{{ url_for('static', filename='uploads/' ~ b[2]) if b[2] else 'https://placehold.co/50' }}" alt="{{ b[1] }}" class="rounded-circle me-3" style="width: 50px; height: 50px; object-fit: cover;" />
       <a href="{{ url_for('business.business', business_id=b[0]) }}" class="fw-bold text-decoration-none">{{ b[1] }}</a>
       {% if session_id == user[0] %}
       <div class="ms-auto">
        <a class="btn btn-link" href="{{url_for('business.delbusiness', business_id=b[0], next=request.path)}}">Excluir</a>
        <a class="btn btn-secondary" href="{{url_for('business.edit', business_id=b[0])}}">Editar</a>
       </div>
       {% endif %}
      </div>
     </div>
    </div>
    {% endfor %} {% else %}
    <p class="text-center text-muted">Nenhum negócio ainda</p>
    {% endif %}
   </div>
  </div>

  <div class="tab-pane fade" id="comentarios" role="tabpanel" aria-labelledby="comentarios-tab">
   {% if comentarios %} {% for c in comentarios %}
   <div class="card glass-card mb-4 shadow-sm">
    <div class="card-body">
     <div class="d-flex align-items-center mb-2">
      <img src="{{ url_for('static', filename='uploads/' ~ c['pfp_filename']) if c['pfp_filename'] else url_for('static', filename='user.png') }}" alt="foto" class="rounded-circle me-3" style="width: 50px; height: 50px; object-fit: cover;" />
      <div>
       <a href="{{ url_for('user.perfil', user_id=c['user_id']) }}"><b>{{ c['username'] }}</b></a><br />
       <small class="text-muted">{{ c['created_at']|humandate }}</small>
      </div>
     </div>
     <p class="mb-0">{{ c['content'] }}</p>
    </div>
   </div>
   {% endfor %} {% else %}
   <p class="text-center text-muted">Nenhum comentário ainda</p>
   {% endif %}
  </div>
 </div>

 {% endblock %}
</div>
