{% extends "base.html" %} {% block content %}

<div class="container d-flex justify-content-center p-4 pt-0" data-aos="fade-up">
 <div class="" style="max-width: 800px; width: 100%;">
  <form action="/signup" method="post" class="needs-validation p-3" novalidate>
   <h1 class="title-2 mb-3 text-center" data-aos="zoom-in">REGISTRO</h1>
   <div class="row g-3">
    <div class="col-6">
     <label for="validationUsername2" class="form-label">Usuário</label>
     <div class="input-group has-validation">
      <span class="input-group-text" id="validationUsernamePrepend2">@</span>
      <input name="username" type="text" class="form-control" id="validationUsername2" aria-describedby="validationUsernamePrepend2" required />
      <div class="invalid-feedback">
       Por favor, digite um nome de usuário válido e único.
      </div>
     </div>
    </div>

    <div class="col-6">
     <label for="phoneNumber" class="form-label">Número de telefone</label>
     <div class="input-group has-validation">
      <span class="input-group-text">+55</span>
      <input name="number" type="text" id="phoneNumber" class="form-control" required />
      <div class="invalid-feedback">
       Por favor, digite um número válido.
      </div>
     </div>
    </div>

    <div class="col-md-6">
     <label for="emailInput" class="form-label">Endereço de e-mail</label>
     <input name="email" type="email" class="form-control" id="emailInput" placeholder="name@example.com" required />
     <div class="invalid-feedback">
      Por favor, digite um e-mail válido.
     </div>
    </div>

    <div class="w-100"></div>

    <div class="col-6">
     <label for="inputPassword2" class="form-label">Senha</label>
     <input name="password" type="password" id="inputPassword2" class="form-control" required />
     <div class="invalid-feedback">
      Por favor, digite uma senha válida.
     </div>
    </div>

    <div class="col-6">
     <label for="inputPasswordConfirm" class="form-label">Confirme a senha</label>
     <input type="password" id="inputPasswordConfirm" class="form-control" required />
     <div class="invalid-feedback">
      As senhas não coincidem.
     </div>
    </div>

    <div id="passwordHelpBlock2" class="form-text">
      Sua senha deve ter 8–20 caracteres, conter letras e números, e não pode ter espaços, caracteres especiais ou emoji.
     </div>

    <div class="d-grid mt-4">
     <button class="btn btn-primary px-4" type="submit">Registrar</button>
    </div>
   </div>
  </form>
 </div>
</div>

<script>
 (() => {
  "use strict";
  const form = document.querySelector(".needs-validation");
  const password = document.getElementById("inputPassword2");
  const confirm = document.getElementById("inputPasswordConfirm");

  form.addEventListener("submit", (event) => {
   if (password.value !== confirm.value) {
    confirm.setCustomValidity("Senhas diferentes");
   } else {
    confirm.setCustomValidity("");
   }

   if (!form.checkValidity()) {
    event.preventDefault();
    event.stopPropagation();
   }
   form.classList.add("was-validated");
  });

  confirm.addEventListener("input", () => {
   if (password.value !== confirm.value) {
    confirm.setCustomValidity("Senhas diferentes");
   } else {
    confirm.setCustomValidity("");
   }
  });
 })();
</script>

{% endblock %}
